# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "256980fc1ae255df33afccec63c84e05"
name = "Form Builder"
application_url = "https://86a866df8824.ngrok-free.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://86a866df8824.ngrok-free.app/auth/callback",
  "https://86a866df8824.ngrok-free.app/auth/shopify/callback",
  "https://86a866df8824.ngrok-free.app/api/auth/callback"
]
